<h2><%=l(:label_milestone_new)%></h2>

<%= labelled_form_for([@project, @milestone]) do |f| %>
  <%= render(:partial => "form", :locals => {:f => f}) %>
  <%= submit_tag(l(:button_create)) %>
<% end %>
