<tr>
    <%- milestones = @issue.fixed_version ? @issue.fixed_version.milestones.sort : []
        milestones = milestones.collect {|m| link_to(m.name, {:controller => :milestones, :action => :show, :id => m.id})}.join(", ").html_safe -%>
    <th class="fixed-version"><%=l(:label_milestone_plural)%>:</th>
    <td class="fixed-version"><%= milestones %></td>
    <%- if @issue.rest_hours > 0 &&
           User.current.allowed_to?(:view_time_entries, @project) and
           User.current.allowed_to?(:view_issue_estimated_hours, @project) -%>
      <th class="estimated-hours"><%=l(:label_roadmap_due_in, "")%>:</th>
      <td><%= l_hours(@issue.rest_hours) %></td>
    <%- end -%>
</tr>