.icon-milestone
{
	background-image:		url(../images/milestone.png);
}

.icon-milestones
{
	background-image:		url(../images/milestones.png);
}

div.advanced-roadmap.tooltip {
	opacity: 1;
	position: relative;
	z-index: auto;
}

div.advanced-roadmap.tooltip span.tip {
	z-index: 20;
}
